################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ALERTB1_CORE/CopilotIndices/17.13.441.19478
/.vs/ALERTB1_CORE/FileContentIndex
/.vs
